h1 {
    padding-top: 100px;
    font-family: helvetica, ariel, sans-serif;
    text-align: center;
}
body {
    background-image:"https://github.com/maykishon/me/blob/gh-pages/img/my%20page.png?raw=true";
    }
container {
    padding-top: 200px;
    font-size: 15px;
    max-width: 670px;
    text-align: center;
}
may_img {
 padding-top: 100px;
}
