h1 {
    padding-top: 100px;
    font-family: helvetica, ariel, sans-serif;
    text-align: center;
}
body {
     background-color:#D8D8D8
}
container {
    padding-top: 200px;
    font-size: 15px;
    max-width: 670px;
    text-align: center;
}
may_img {
 padding-top: 100px;
}
